.chooseGameInfoDiv>h2{
    color: var(--warning);
    padding: 2% 0 0 0;
}
.chooseGameDiv{
    background-color: var(--light-grey);
    width: 40% ;
    margin: 3% auto ;
    padding: 2%;
}
.chooseGameDiv>p{
    margin-bottom: 10% ;
}
.chooseGameDiv>select{
    width: 80%;
    margin: 2% 10% 5% 10%;
    padding: 1%;
}
.chooseGameDiv>button{
    width: 80%;
    background-color: var(--warning);
    color: var(--white);
    border: none;
    padding: 1.5%;
}
.battle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2%;
    
}
.playerChooseGame img,
.systeemChooseGame img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
.playerChooseGame ,
.systeemChooseGame  {
    background-color: var(--light-grey);
    padding: 3% 3% 2% 3% ;
    box-shadow: 1px 1 pxvar(--txt-grey);
}
.gameRating,.gameAverageTime{
    width: 95%;
    margin: 2.5%;
    background: var(--medium-grey);
    padding: 2% ;
}
.battleResult{
    padding: 2%;
    color: var(--white);
    background-color: var(--btn-good);
    margin: 2% 20%;
    
}
.newBattle{
    background-color: var(--white);
    color: var(--dark-purple);
    padding: 1%;
    margin: 2%;
    border: none;
}
.hide{
    display: none;
}