main{
    padding: 5%;
}
.library{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.library_game {
    border-radius:15px ;
    background-color: var(--light-grey);
    
}
.library_game:hover{
    border: 2px solid var(--dark-purple);
}
.library_game img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius:15px 15px 0 0;
}
.infocard{
    padding: 5% 5%;

}
h3{
    margin-bottom: 3%;
}
.gameSituation{
    border-radius: 15px;
    background-color: var(--primair-purple);
    color: var(--white);
    width: 20%;
    padding: 1%;
    border: none;
    margin-bottom: 3%;
    text-align: center;
    font-size: 13px;
}
.infocard button{
    width: 45%;
    padding: 0.5em;
    border-radius: 15px;
    margin-top: 8%;
    border: none;
    color: var(--white);
}
.infocard button:first-child{
    background-color: var(--primair-purple);
}
.infocard button:last-child
{
    background-color: var(--warning);
}

.library {
    list-style: none;
    padding: 0;
}
ul>h1{
    grid-column-start: 2;
}