<header>
  <a href="/startpage" class="logo">H!ghscore Haven</a>
  <nav id="mainNav">
    <a href="/startpage" class="navBtn">🏠</a>
    <a href="/guesser" class="navBtn">🧩</a>
    <a href="/battle" class="navBtn">⚔️</a>
    <a href="/compare" class="navBtn">↔️</a>
    <a href="/library" class="navBtn">📚</a>
    <a href="/searchpage" class="navBtn">🔍</a>
    <a href="/account">
      <img
        src="<%= sessionUser?.avatar ?? '/img/profiel.png' %>"
        class="headerImg"
        alt="Profielfoto"
        style="transform: scaleX(-1)"
      />
    </a>
  </nav>
</header>
