<header>
  <a href="/startpage" class="logo">H!ghscore Haven</a>
  <nav>
    <a href="/startpage"><button class="navBtn">🏠</button></a>
    <a href="/guesser"><button class="navBtn">🧩</button></a>
    <a href="/battle"><button class="navBtn">⚔️</button></a>
    <a href="/compare"><button class="navBtn">↔️</button></a>
    <a href="/library"><button class="navBtn">📚</button></a>
    <a href="/searchpage"><button class="navBtn">🔍</button></a>
    <a href="/account">
      <img
        src="<%= sessionUser?.avatar ?? '/img/profiel.png' %>"
        class="headerImg"
        alt="Profielfoto"
      />
    </a>
  </nav>
</header>
