<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/General.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="script/index.js" type="module"></script>
    <script
      defer
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <title>HighScore Haven</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo">AML Inc.</a>
    </header>
    <h1>Kies Jouw Game!</h1>
    <main>
      <ul class="container">
        <li class="card">
          <img src="./img/musicmatch.png" alt="MusicMatch" />
          <div class="infoCard">
            <h3>MusicMatch</h3>
            <p class="smallTxt">Ontdek en deel jouw favoriete muziek</p>
            <button class="notActive">Start →</button>
          </div>
        </li>
        <li class="card">
          <a href="/login">
            <img src="./img/logo.png" alt="HighScore Haven" />
            <div class="infoCard">
              <h3>GameHub</h3>
              <p class="smallTxt">Ontdek en deel jouw favoriete spel</p>
              <button>Start →</button>
            </div>
          </a>
        </li>
        <li class="card">
          <img src="./img/legomaster.png" alt="LegoMaster" />
          <div class="infoCard">
            <h3>LegoMaster</h3>
            <p class="smallTxt">Ontdek en deel jouw favoriete Lego</p>
            <button class="notActive">Start →</button>
          </div>
        </li>
      </ul>
    </main>
    <%- include("partials/header") %> <%= message %> <%- include("partials/footer")
%>
  </body>
  <script>
    const buttons = document.querySelectorAll(".notActive");
    for (let i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener("click", () => {
        Toastify({
          text: "Je hebt geen toegang",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "linear-gradient(to right, #8B7FFF, #6B5FEF)",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      });
    }
  </script>
</html>
