<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <script src="js/header.js" defer></script>
    <title>HighScore Haven</title>
  </head>
  <body>
    <%- include("partials/navHeader") %>
  </body>
</html>
