<header>
  <a href="/library" class="logo">H!ghscore Haven</a>
  <nav>
    <a href="/startpage"><button class="navBtn">🏠</button></a>
    <a href="/guesser"><button class="navBtn">🧩</button></a>
    <a href="/battle"><button class="navBtn">⚔️</button></a>
    <a href="/compare"><button class="navBtn">↔️</button></a>
    <a href="/library"><button class="navBtn">📚</button></a>
    <a href="/search"><button class="navBtn">🔍</button></a>
    <a href="/account"
      ><img src="img/profiel.png" class="headerImg" alt="Profielfoto"
    /></a>
  </nav>
</header>
