<header>
  <a href="library.html" class="logo">H!ghscore Haven</a>
  <nav>
    <a href="startpage.html"><button class="navBtn">🏠</button></a>
    <a href="guesser.html"><button class="navBtn">🧩</button></a>
    <a href="battle.html"><button class="navBtn">⚔️</button></a>
    <a href="compare.html"><button class="navBtn">↔️</button></a>
    <a href="library.html"><button class="navBtn">📚</button></a>
    <a href="search.html"><button class="navBtn">🔍</button></a>
    <a href="account.html"
      ><img src="img/profiel.png" class="headerImg" alt="Profielfoto"
    /></a>
  </nav>
</header>
