<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/registeren.css" />
    <script src="script/registreren.js" type="module"></script>
    <title>HighScore Haven</title>
  </head>
  <body>
    <header>
      <a href="index.html" class="logo">H!ghscore Haven</a>
    </header>
    <main>
      <section>
        <h1>Account aanmaken</h1>
        <p>Word lid van H!ghscore Haven en track je gaming progress</p>
      </section>

      <form id="registerForm">
        <fieldset>
          <p>Kies je avatar</p>
          <img
            src="img/profiel.png"
            class="chosenAvantar rounded"
            alt="Gekozen avatar"
          />

          <div class="choiseAvantar">
            <button type="button" class="rounded avantar">
              <img src="img/avantar1.jpg" class="rounded" alt="Avatar 1" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="img/avantar2.png" class="rounded" alt="Avatar 2" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="img/avantar3.png" class="rounded" alt="Avatar 3" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="img/avantar4.png" class="rounded" alt="Avatar 4" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="img/avantar5.png" class="rounded" alt="Avatar 5" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="img/avantar6.png" class="rounded" alt="Avatar 6" />
            </button>
          </div>

          <label for="name">Voornaam</label>
          <input type="text" id="name" required />

          <label for="famName">Achternaam</label>
          <input type="text" id="famName" required />

          <label for="email">E-mailadres</label>
          <input type="email" id="email" required />

          <label for="username">Gebruikersnaam</label>
          <input type="text" id="username" required />

          <label for="password">Wachtwoord</label>
          <input type="password" id="password" required />

          <label for="conPass">Bevestig Wachtwoord</label>
          <input type="password" id="conPass" required />

          <input type="submit" value="Account aanmaken" />

          <hr />
          <p>Heb je al een account? <a href="login.html">Inloggen</a></p>
        </fieldset>
      </form>
    </main>
  </body>
</html>
