<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/registeren.css" />
    <script src="script/registreren.js" type="module"></script>
    <title>HighScore Haven</title>
  </head>
  <body>
    <header>
      <a href="index.html" class="logo">H!ghscore Haven</a>
    </header>
    <main>
      <section>
        <h1>Account aanmaken</h1>
        <p>Word lid van H!ghscore Haven en track je gaming progress</p>
      </section>

      <form id="registerForm" action="/registeren" method="post">
        <fieldset>
          <p>Kies je avantar</p>
          <img
            src="/img/profiel.png"
            class="chosenAvantar rounded"
            alt="Gekozen avantar"
          />
          <input
            type="hidden"
            id="avatarInput"
            name="avatar"
            value="/img/profiel.png"
          />
          <div class="choiseAvantar">
            <button type="button" class="rounded avantar">
              <img src="/img/avantar1.jpg" class="rounded" alt="Avantar 1" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="/img/avantar2.png" class="rounded" alt="Avantar 2" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="/img/avantar3.png" class="rounded" alt="Avantar 3" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="/img/avantar4.png" class="rounded" alt="Avantar 4" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="/img/avantar5.png" class="rounded" alt="Avantar 5" />
            </button>
            <button type="button" class="rounded avantar">
              <img src="/img/avantar6.png" class="rounded" alt="Avantar 6" />
            </button>
          </div>

          <label for="name">Voornaam</label>
          <input type="text" id="name" name="name" required />

          <label for="famName">Achternaam</label>
          <input type="text" id="famName" name="famName" required />

          <label for="email">E-mailadres</label>
          <input type="email" id="email" name="email" required />

          <label for="username">Gebruikersnaam</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Wachtwoord</label>
          <input type="password" id="password" name="password" required />

          <label for="conPass">Bevestig Wachtwoord</label>
          <input type="password" id="conPass" name="conPass" required />

          <input type="submit" value="Account aanmaken" />
          <hr />
          <p>Heb je al een account? <a href="/login">Inloggen</a></p>
        </fieldset>
      </form>
    </main>
    <script>
      // img
      const avantar = document.querySelectorAll(".avantar");
      const chosenAvantar = document.querySelector(".chosenAvantar");
      avantar.forEach((button) => {
        button.addEventListener("click", () => {
          const imgSrc = button.querySelector("img").src;
          chosenAvantar.src = imgSrc;
          document.getElementById("avatarInput").value = imgSrc;
        });
      });
      //Error melding
      const params = new URLSearchParams(window.location.search);
      const error = params.get("error");
      if (error == "1") {
        document.getElementById("errorMsg").textContent =
          "Gebruikersnaam is al in gebruik";
      } else if (error == "2") {
        document.getElementById("errorMsg").textContent =
          "E-mail is al in gebruik";
      } else if (error == "3") {
        document.getElementById("errorMsg").textContent =
          "Wachtwoord moet langer dan 6 karakters zijn";
      } else if (error == "4") {
        document.getElementById("errorMsg").textContent =
          "Wachtwoord komt niet overeen";
      }
    </script>
  </body>
</html>
